<p id="notice"><%= notice %></p>

<h1>Listing Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gpa</th>
      <th>Subject</th>
      <th>Images</th>
      <th>Description</th>
      <th>Social links</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.name %></td>
        <td><%= tutor.gpa %></td>
        <td><%= tutor.subject %></td>
        <td><%= link_to image_tag(tutor.images), :class => "style_image" %>%></td>
        <td><%= tutor.description %></td>
        <td><%= tutor.social_links %></td>
        <td><%= tutor.price %></td>
        <td><%= link_to 'Show', tutor %></td>
        <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor', new_tutor_path %>
