<p id="notice"><%= notice %></p>
<h1> Personal Profile </h1>
<p>
  <strong>Name:</strong>
  <%= @tutor.name %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @tutor.gpa %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @tutor.subject %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @tutor.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @tutor.phone_number %>
</p>

<p>
  <strong>Images:</strong>
  <%=image_tag @tutor.images %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tutor.description %>
</p>

<p>
  <strong>Social links:</strong>
  <%= @tutor.social_links %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tutor.price %>
</p>

<%= link_to 'Back', tutors_path %>
