<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firs_name, "First Name" %><br>
    <%= f.text_field :firs_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :username, "Select a username"%><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, "Select a password" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone Number" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :city, "City" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit "Create Account"%>
  </div>
<% end %>
