<%= stylesheet_link_tag  "application", 'welcome', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<style>
.vind{
  font-size: 40px;
  opacity:0.8;
  margin-top: 150px;
  color:#e63d02;
  font-weight: bold;

}
</style>
<div></div>

<div class="content">
  <div class="vind">FIND YOUR STUTOR</a></h1>
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
<p>
  <%= text_field_tag  :search , params[:search], placeholder: "City" %>
<p>
  <%= text_field_tag  :search , params[:search], placeholder: "Subject" %>
</p>
</p>
  <%= submit_tag "Search" ,:name => nil, :class => "btn btn-primary btn-lg" %>
  <% end %>
</p>
</div>
