<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<div class="bg-img"></div>
<div>
<center>
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <p>
  <%= text_field_tag :search, params[:search], placeholder: "Search City" %>
  <%= submit_tag "Search" ,:name => nil%>
</p>
<% end %>
</center>
</div>
