<%= stylesheet_link_tag  "application", 'welcome', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<div></div>

<div class="content">
  <h1>Find your Stutor!</a></h1>
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <p><%= text_field_tag  :search , params[:search], placeholder: "Search City" %>
  <%= submit_tag "Search" ,:name => nil%></p>
  <% end %>
</div>


<%= image_tag( "Kwaliteit.png") %><%= image_tag( "Gemak.png" ) %>
