

<div>
  <p>
    <h1><Strong><%= @profile.name.handle %></Strong></h1>
  </p>

  <p>
    <strong>City:</strong>
    <%= @profile.city %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @profile.price %>
  </p>

  <p>
    <strong>image:</strong>
    <%= @profile.image%>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @profile.description%>
  </p>
</div>
