<!DOCTYPE html>
<html>
<head>
  <title>Stutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header>
    <a class="logo" href="/welcome/index"><%=image_tag("logo1.png")%></a>
    <h1>
      <a class="headercontent" href="/welcome/index"> Home </a>
      <a href="/users"> All Stutors </a>
      <a href="/contact"> Contact </a>
    </h1>
  </div>
  </header>


<%= yield %>


<footer>
    <a class="logofooter" href="/welcome/index"><%=image_tag("logo1.png")%></a>
    <h1>
      <a href="/welcome/index"> Home </a>
      <a href="/users"> All Stutors </a>
      <a href="/contact"> Contact </a>
    </h1>
</footer>
</body>
</html>
